<div class="main-search-container"> 
    <div [class]="dataService.currentTheme" class="search-container" [ngStyle]="dataService.validation ? {'border': '1px solid #FF5252'} : {}">
        <input class="heading-s" [(ngModel)]="dataService.searchTerm" placeholder="Search for any word…" (keydown.enter)="dataService.getNewWord()" type="text">
        <img (click)="dataService.getNewWord()" src="assets/images/icon-search.svg" alt=" search-icon" srcset="">
    </div>
@if (dataService.validation) {
    <span class="null-error">Whoops, can't be empty</span>
}
</div>