.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right {
    display: flex;
    align-items: center;
}

.custom-select {
    border-right: 1px solid gray;
    padding: 6px 0;
}

select {
    margin-right: 15px;
    padding-right: 10px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    text-align: right;
}

option {
    padding: 50px;
}