.player-container{
    width: 48px;
    height: 48px;
    .audio-svg {
        width: 100%;
        height: 100%;
    }
    .audio-svg:hover{
        width: 100%;
        height: 100%;
        circle {
            opacity: 1;
        }
        path {
            fill: white;
        }
    }
}