.components-container{
    height: 100vh;
    padding: 1.5rem;
}
.media-query-container{
    height: 100%;
    app-search-bar{
        margin: 0 1.5rem;
    }
    // app-dictionary-main{
        
    // }
}