<div [class]="dataService.currentTheme" class="main-container">
    <img src="assets/images/logo.svg" alt="Logo icon" class="logo">
    <div class="right-container">
        <div (click)="toggleDropdown()" class="flex-it">
            <label class="heading-s" for="select">{{dataService.selectedFont}}</label>
            <img src="assets/images/select-icon.svg" alt="" srcset="">
        </div>
        <div class="drop-down">
            <div [class]="showDropDown ? 'show':'hide'" class="select-dropdown flex-it">
                @for (font of dataService.fontFamilies; track font) {
                    <span class="heading-s">{{font}}</span>
                }
            </div>
        </div>
        <app-theme-toggler class="theme-toggler"></app-theme-toggler>
    </div>
</div>
