/* You can add global styles to this file, and also import other style files */
:root{
    --white:#FFFFFF;
    --navbar-bg:#2B2D31;
    --grey-level-1:#F4F4F4;
    --grey-level-2:#E9E9E9;
    --grey-level-3:#757575;
    --grey-level-4:#3A3A3A;
    --grey-level-5:#2D2D2D;
    --grey-level-6:#2B2D31;
    --grey-level-7:#1F1F1F;
    --grey-level-8:#050505;
    --voilet:#A445ED;
    --warn:#FF5252;
}
html, body{
    margin: 0;
    height: 100%;
    user-select: none;
}

.heading-m{
    font-size: 1.5rem;
    line-height: 1.2;
}
.heading-s{
    font-size: 20px;
    line-height: 24px;
}

.heading-l{
    font-size: 2.5rem;
    line-height: 72px;
    font-weight: 800;
    letter-spacing: 0.15rem;
}
.body-m{
    font-size: 18px;
    line-height: 24px;
}
.body-s{
    font-size: 14px;
    line-height: 17px;
}
.flex-it{
    display: flex;
}
.w-100{
    width: 100%;
}
.show{
    display: flex;
}
.hide{
    display: none;
}

li::marker {
    color: var(--voilet);
}
.light-mode{
 
    transition: 0.1s;
    .switch-toggle{
        background-color: var(--grey-level-3);
    }
    .select-dropdown{
        background-color: white;
        box-shadow: 0 2px 10px 5px var(--grey-level-2);
    }
}
.dark-mode{
    transition: 0.1s;
    color: var(--grey-level-1);
    background-color: var(--grey-level-8);
    .type-meaning, .synonyms, .examples{
        color: var(--grey-level-3);
    }

    
    .select-dropdown{
        background-color: var(--grey-level-8);
        color: white;
        box-shadow: 0 0 5px var(--grey-level-2);
    }
    .switch-toggle{
        background-color: var(--voilet);
    }


    .moon {
        fill: var(--voilet)
    }


    .search-container{
        border: 1px solid var(--grey-level-8);
        background-color: var(--grey-level-5);
        
        input{

            color: white;

        }



        input:focus{
            outline: none;
        }
    }

    .link {
        color: var(--white);
    }

    


}



.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    border-radius: 1rem;
    border: 1px solid var(--grey-level-1);
    background-color: var(--grey-level-1);
    padding: 0 16px;
    
    input{
        height: 55px;
        width: 100%;
        border: none;
        background-color: transparent;
        font-weight: bold;
        outline: none;
        input::placeholder{
            font-family: inherit;
        }
    }
   
}

.search-container:hover,
.search-container:active{
    border: 1px solid var(--voilet);
}


.link {
    color: black;
    margin-right: 5px;
}


.link:active,
.link:focus {
    color: var(--voilet);
}

.link:hover {
    color: #757575;
}






.emoji {
    font-size: 3rem;
}
.error-message {
    font-size: 1.2rem;
}


.components-container{
    // overflow-y: scroll;
    height: 100vh;
    padding: 1.5rem;
}
.media-query-container{
    height: 100%;
    app-search-bar{
        margin: 0 1.5rem;
    }
    // app-dictionary-main{
        
    // }
}




@media only screen and (min-width: 768px) {
    .components-container{
        height: 100vh;
        padding: 3rem 20rem 2rem 20rem;
    }
    .heading-l{
        font-size: 5.5rem;
        line-height: 72px;
        font-weight: 800;
        letter-spacing: 0.3rem;
        margin-bottom: 2.2rem;
    }

.heading-m{
    font-size: 1.5rem;
    line-height: 29px;
}
.heading-s{
    font-size: 20px;
    line-height: 24px;
}
.body-m{
    padding: 0 ;
    font-size: 18px;
    line-height: 24px;
}
}