.container {
    display: flex;
    width: 100%;
}

.search-container {
    width: inherit;
    margin-top: 15px;
    background-color: #F4F4F4;
    border-radius: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 48px;
    transition: 0.8s;

}

.container:hover input {
    width: inherit;
    padding: 10px;
    outline: none;
}

.container input {
    background-color: transparent;
    border: none;
    width: 0;
    font-weight: 800;
    font-size: 20px;
    transition: 0.8s;
    outline: none;

}

i {
    color: #A445ED;
}